<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="logo-header">
            <img src="{{ url_for('static', filename='uploads/MessMatesx.png') }}" alt="MessMates" class="corner-logo">
        </div>
        <div class="card" style="max-width: 400px; margin: 50px auto;">
            <h1 style="text-align: center;">Login</h1>
            <form method="POST" action="/login">
                <input type="text" name="username" placeholder="Enter Mobile Number" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" style="width: 100%;">Login</button>
            </form>
            <p style="text-align: center; margin-top: 15px;">New Here? <a href="/register">REGISTER</a></p>
        </div>
    </div>
</body>
</html>